:root{
    --brigth-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    background: var(--very-light-gray);
    overflow: hidden;
}
@media (max-width: 768px){
    body {
        overflow: scroll;
    }
}


h2 {
    color: white;
    margin-top: 35px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 42px;
    letter-spacing: 1.7px;
}

@media (max-width: 768px){
    h2 {
        margin-bottom: 25px;
    }
}

p {
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;    
    font-size: 16px;
    line-height: 26px;
}

@media (max-width: 768px){
    p {
        margin-top: 0px;
    }
}

.button {
    background-color: var(--very-light-gray);
    border: none;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    margin-top: 70px;
    padding: 15px 30px;
}

@media (max-width: 768px){
    .button {
        margin-top: 15px;
    }
}

.button-section-one {
    color: var(--brigth-orange);
}

.button-section-two {
    color: var(--dark-cyan);
}

.button-section-three {
    color: var(--very-dark-cyan);
}

.car-description {
    padding: 48px;
}

.car-1 {
    background-color: var(--brigth-orange);
    border-radius: 12px 0px 0px 12px;
}

@media (max-width: 768px){
    .car-1 {
        border-radius: 12px 12px 0px 0px;
    }
}

.car-2 {
    background-color: var(--dark-cyan);
}

@media (max-width: 768px){
    .car-2 {
        border-radius: 0px 0px 0px 0px;
    }
}

.car-3 {
    background-color: var(--very-dark-cyan);
    border-radius: 0px 12px 12px 0px;
}

@media (max-width: 768px){
    .car-3 {
        border-radius: 0px 0px 12px 12px;
    }
}

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    margin: 1em auto;
    width: 70%;
}

@media (max-width: 768px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        height: 250vh;
        margin-top: 0;
    }
}